@use '../sass/abstracts/mixins.scss';

.paragraph {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: black;

    @include mixins.marginBottom();

    &.intro {
        font-size: 2rem;
    }
}