.tracks {
    padding: 0;
    margin: 0;
    background-color: white;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    .trackItem {
        padding: 1rem;
        margin: 0;
    }
}